.controller-container {
  background-color: #475569;
  height: 180px;
  width: 100vh;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-left: 40px;
}
.controller-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #e2e8f0;
}

.label-text {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  color: #e2e8f0;
}
